  .diceParent{
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    margin: 0 15px 0 15px;
  }
 .diceImg {
    width: 25%;
    height: 25%;
    margin: 20px;
    border: none;
    cursor: pointer;
    
}